!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Витана: Тепловые решения XXI века
    = stylesheet_link_tag 'fonts/stylesheet.css'
    = stylesheet_link_tag 'style.css'
    = javascript_include_tag 'jquery-1.3.2'
    = javascript_include_tag '/fancybox/jquery.fancybox-1.3.0.js'
    = stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.0.css'
  %body
    %table.main{ :cellspacing => "0", :border => "0", :align => "center", :width => "1000", :cellpadding => "0", :style => "margin:0 auto" }
      %tr
        %td{ :valign => "top" }
          %img{ :src => "/images/header.jpg", :height => "259", :width => "1000" }
      %tr
        %td.menu
          = render :partial => 'menu'
      %tr
        %td
          %table.content{ :cellspacing => "0", :border => "0", :width => "100%", :cellpadding => "0", :style => (@pages.size > 1 && !defined?(@page) ? 'padding-top: 0;' : '') }
            %tr
              - if defined?(@category) && defined?(@answers) && defined?(@page)
                - has_content_for_left_block = !@category.content.strip.empty? || !@answers.empty? || !@images.empty?
                = render :partial => 'left', :locals => { :has_content_for_left_block => has_content_for_left_block}
              - else
                - has_content_for_left_block = false
              %td{ :valign => "top", :style => (!has_content_for_left_block ? '' : "padding-left:10px;") }
                %table{:class => (@pages.size > 1 && !defined?(@page) ? '' : 'content1'),  :cellspacing => "0", :width => "100%", :cellpadding => "0" }
                  %tr
                    %td
                      = yield
      %tr
        %td{ :style => "padding-top:10px;" }
          %table{ :cellspacing => "0", :border => "0", :width => "100%", :cellpadding => "0" }
            %tr.footer{ :height => "10" }
              %td
            %tr
              %td.footer1{ :align => "center" }
                - @menu_items.each do |item|
                  = link_to item.title, :category => item.id
                  - if item != @menu_items.last
                    |
            %tr
              %td.footer1{ :align => "center" }
                \&copy;&nbsp;
                = Date.today.year
                \&nbsp;ВИТАНА
